.home {
  display: flex;
  margin-top: 300px;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

p {
  color: white;
  font-size: 27px;
  font-family: Montserrat;
  margin: 0;
}

.btn {
  background: #fff;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  width: 120px;
  margin-top: 20px;
  text-transform: uppercase;
  transform: skew(-21deg);
}

span {
  display: inline-block;
  transform: skew(21deg);
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: #5cd3a8;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.btn:hover {
  color: #fff;
}

.btn:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}
